<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>oxefmsynth</string>
	<key>CFBundleDisplayName</key>
	<string>oxefmsynth</string>
	<key>CFBundleIdentifier</key>
	<string>com.oxesoft.oxefmsynth</string>
	<key>CFBundleVersion</key>
	<string>1.3.6</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.6</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>oxefmsynth</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2004-2026 Daniel Moura</string>
</dict>
</plist>
