#include <windows.h>
#include "resources.h"
#include "constants.h"

IDI_ICON                ICON    DISCARDABLE     "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION OXFM_MAJOR_VERSION,OXFM_MINOR_VERSION,OXFM_PATCH_VERSION,0
 PRODUCTVERSION OXFM_MAJOR_VERSION,OXFM_MINOR_VERSION,OXFM_PATCH_VERSION,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "https://github.com/oxesoft/oxefmsynth"
            VALUE "CompanyName", "Oxe Music Software"
            VALUE "FileDescription", "Oxe FM Synth"
            VALUE "FileVersion", VERSION_STR
            VALUE "InternalName", "oxefmsynth"
            VALUE "LegalCopyright", "Copyright Daniel Moura, GNU GPL"
            VALUE "OriginalFilename", "oxefmsynth.dll"
            VALUE "ProductName", "Oxe FM Synth"
            VALUE "ProductVersion", VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
