#include <windows.h>
#include "resource.h"
#include "constants.h"

IDI_ICON                ICON    DISCARDABLE     "icon.ico"
IDB_CHARS               BITMAP  DISCARDABLE     "chars.bmp"
IDB_KNOB                BITMAP  DISCARDABLE     "knob.bmp"
IDB_KNOB2               BITMAP  DISCARDABLE     "knob2.bmp"
IDB_KNOB3               BITMAP  DISCARDABLE     "knob3.bmp"
IDB_CHAVE               BITMAP  DISCARDABLE     "key.bmp"
IDB_FUNDO               BITMAP  DISCARDABLE     "bg.bmp"
IDB_BUTTONS             BITMAP  DISCARDABLE     "buttons.bmp"
IDB_OPS                 BITMAP  DISCARDABLE     "ops.bmp"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION OXFM_MAJOR_VERSION,OXFM_MINOR_VERSION,OXFM_PATCH_VERSION,0
 PRODUCTVERSION OXFM_MAJOR_VERSION,OXFM_MINOR_VERSION,OXFM_PATCH_VERSION,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "Comments", "http://www.oxesoft.com"
            VALUE "CompanyName", "Oxe Music Software"
            VALUE "FileDescription", "Oxe FM Synth Standalone"
            VALUE "FileVersion", VERSION_STR
            VALUE "InternalName", "oxefmsynth"
            VALUE "LegalCopyright", "Copyright Daniel Moura, GNU GPL"
            VALUE "OriginalFilename", "oxefmsynth.exe"
            VALUE "ProductName", "Oxe FM Synth"
            VALUE "ProductVersion", VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x416, 1200
    END
END
